In [64]:
#Import dependencies
import pandas as pd
import os

In [65]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData
from sqlalchemy import Column, Integer, String, Float

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base

In [66]:
#Read in the csv
crime_data_2017 = pd.read_csv("Police_Department_Incidents_-_Previous_Year__2017_.csv", dtype=object)

In [67]:
#Create a database using engine and call it crime_data_2017.sqlite
engine = create_engine("sqlite:///crimedata2017.sqlite")

#Create a connection to the engine
conn = engine.connect()

In [68]:
# Use `declarative_base` from SQLAlchemy to model 2017 crime data as an ORM
Base = declarative_base()

class CrimeData2017(Base):
    __tablename__ = 'crimedata2017'
    id = Column(Integer, primary_key=True)
    IncidntNum = Column(Integer)
    Category = Column(String)
    Descript = Column(String)
    DayOfWeek = Column(String)
    Date = Column(String)
    Time = Column(String)
    PdDistrict = Column(String)
    Resolution = Column(String)
    Address = Column(String)
    X = Column(Float)
    Y = Column(Float)
    Location = Column(String)
    PdId = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [69]:
#Create the table in the database
Base.metadata.create_all(engine)

In [70]:
#Use Orient='records' to create a list of data to write
crimedata2017_dict = crime_data_2017.to_dict(orient='records')

In [71]:
#Use MetaData from SQLAlchemy to reflect the table
metadata = MetaData(bind=engine)
metadata.reflect()

#Save the reference to the crimedata2017 table as a variable
crimedata2017 = sqlalchemy.Table('crimedata2017', metadata, autoload=True)

In [72]:
#Delete existing database so when you run it again, it will start with a clean slate
conn.execute(crimedata2017.delete())

In [73]:
#Insert the crimedata2017 (dictionary format) into sqlite
conn.execute(crimedata2017.insert(), crimedata2017_dict)

In [74]:
conn.execute("select * from crimedata2017 limit 10").fetchall()

[(1, 186043061, 'LARCENY/THEFT', 'GRAND THEFT OF PROPERTY', 'Sunday', '01/01/2017', '00:01', 'NORTHERN', 'NONE', '0 Block of HERMANN ST', -122.42596301730948, 37.77070812317366, '(37.77070812317366, -122.42596301730948)', 18604306106374.0),
 (2, 186043061, 'LARCENY/THEFT', 'PETTY THEFT OF PROPERTY', 'Sunday', '01/01/2017', '00:01', 'NORTHERN', 'NONE', '0 Block of HERMANN ST', -122.42596301730948, 37.77070812317366, '(37.77070812317366, -122.42596301730948)', 18604306106372.0),
 (3, 186006116, 'LARCENY/THEFT', 'GRAND THEFT OF PROPERTY', 'Sunday', '01/01/2017', '09:00', 'NORTHERN', 'NONE', 'HAIGHT ST / STEINER ST', -122.43209555515361, 37.77189574196664, '(37.77189574196664, -122.43209555515361)', 18600611606374.0),
 (4, 180080782, 'SEX OFFENSES, FORCIBLE', 'FORCIBLE RAPE, BODILY FORCE', 'Sunday', '01/01/2017', '00:01', 'INGLESIDE', 'NONE', '100 Block of DUNCAN ST', -122.4234838326707, 37.74636244735492, '(37.74636244735492, -122.4234838326707)', 18008078202004.0),
 (5, 180002015, 'TRESPASS', 'TRESPASSING', 'Sunday', '01/01/2017', '17:37', 'TENDERLOIN', 'NONE', '200 Block of TURK ST', -122.41323751667596, 37.7828430233213, '(37.7828430233213, -122.41323751667596)', 18000201527195.0),
 (6, 180002015, 'SECONDARY CODES', 'DOMESTIC VIOLENCE', 'Sunday', '01/01/2017', '17:37', 'TENDERLOIN', 'NONE', '200 Block of TURK ST', -122.41323751667596, 37.7828430233213, '(37.7828430233213, -122.41323751667596)', 18000201515200.0),
 (7, 180001675, 'DISORDERLY CONDUCT', 'DISTURBING THE PEACE', 'Sunday', '01/01/2017', '02:30', 'PARK', 'NONE', '0 Block of LAKEFOREST CT', -122.45989307989882, 37.754791646857264, '(37.754791646857264, -122.45989307989882)', 18000167519022.0),
 (8, 180000279, 'NON-CRIMINAL', 'AIDED CASE', 'Sunday', '01/01/2017', '02:00', 'NORTHERN', 'NONE', '1500 Block of BEACH ST', -122.43456153495198, 37.8048011616864, '(37.8048011616864, -122.43456153495198)', 18000027951040.0),
 (9, 179000044, 'DRUNKENNESS', 'UNDER INFLUENCE OF ALCOHOL IN A PUBLIC PLACE', 'Sunday', '01/01/2017', '01:41', 'TARAVAL', 'ARREST, BOOKED', 'DENSLOWE DR / HOLLOWAY AV', -122.47454458113094, 37.721194866951606, '(37.721194866951606, -122.47454458113094)', 17900004419090.0),
 (10, 176111991, 'LARCENY/THEFT', 'PETTY THEFT OF PROPERTY', 'Sunday', '01/01/2017', '16:24', 'SOUTHERN', 'NONE', '800 Block of BRYANT ST', -122.40340479147905, 37.775420706711, '(37.775420706711, -122.40340479147905)', 17611199106372.0)]